<h1 class="mt-3 mb-3" *ngIf="novoProduto" >Cadastrar Produto</h1>
<h1 class="mt-3 mb-3" *ngIf="!novoProduto" >Editar Produto</h1>

<form [formGroup]="produtosForm" (submit)="enviar()">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input required maxlength="64"  type="text" class="form-control" id="nome" formControlName="nome">
          <div *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)">
            <div *ngIf="nome?.errors?.['required']" class= "form-validation-error">
              Campo obrigatório
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="codigoBarras" class="form-label">Codigo de Barras</label>
          <input required maxlength="12" minlength="12" type="text" class="form-control" id="codigoBarras" formControlName="codigoBarras">
          <div *ngIf="codigoBarras?.invalid && (codigoBarras?.dirty || codigoBarras?.touched)">
            <div *ngIf="codigoBarras?.errors?.['required']" class= "form-validation-error">
              Campo obrigatório
            </div>
              <div *ngIf="codigoBarras?.errors?.['minlength']" class= "form-validation-error">
                Código de Barras deve possuir pelo menos 12 dígitos
              </div>
          </div>
        </div>
      </div>
        <div class="col">
        <div class="mb-3">
        <label for="preco" class="form-label">Preço</label>
        <input type="number" class="form-control" id="preco" formControlName="preco">
        <div *ngIf="preco?.invalid && (preco?.dirty || preco?.touched)">
          <div *ngIf="preco?.errors?.['required']" class= "form-validation-error">
            Campo obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
    <a class="btn btn-secondary me-1" routerLink="/produtos">Voltar</a>
    <button class="btn btn-primary" *ngIf="novoProduto" type="submit" [disabled]="produtosForm.invalid">Cadastrar</button>
    <button class="btn btn-primary" *ngIf="!novoProduto" type="submit" [disabled]="produtosForm.invalid">Editar</button>
    </div>
  </div>
</div>
</form>
